# NOTE: Use `.dotcfg/info/exclude` to ignore files without disclosing the name.

.DS_Store
/.*_history
/.CFUserTextEncoding
/.Trash/
/.cache/
/.cargo/
/.config/direnv/lib/
/.config/fish/completions/
/.config/fish/conf.d/plugin-*.fish
/.config/fish/config.fish
/.config/fish/fish_variables
/.config/gcloud/
/.config/gh/
/.config/github-copilot/
/.config/nvim/lua/config/background.lua
/.config/op/
/.config/raycast/
/.cursor/
/.docker/
/.dotcfg/
/.gnupg/
/.gsutil/
/.ipython/
/.kube/
/.lesshst
/.local/
/.logfire/
/.manpath
/.npm/
/.orbstack/
/.rustup/
/.rye/
/.ssh/
/.ssh/1Password/
/.terraform.d/
/.viminfo
/.zcompdump
/.zsh*
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Obsidian/
/OrbStack/
/Pictures/
/Public/
/pkg/
/src/
